<div class="col-12">
    <div class="card card-color">
        <div class="card-header">
          <h6 class="card-title header-color">FILTER BY:</h6>
          <div class="card-body">
                    <input type="text" class="form-control input-align" [(ngModel)]="titleSearch" 
                    placeholder="Search your tvshow by title...">
               
                    <input type="number" class="form-control input-align" [(ngModel)]="yearSearch"
                    placeholder="Search your tvshow by year ...">
               
                    <input type="text" class="form-control input-align" [(ngModel)]="languageSearch"
                    placeholder="Search your tvshow by language...">
                    <br>
                    <button type="button" class="btn btn-info btn-config" (click) = filter()>Search</button>
                
          </div>
        </div>
    </div>
  
    <br>
    <div class="card-columns">
      <div class="card bg-dark text-white" (click)="edit(tvshow)" *ngFor="let tvshow of tvshows | paginate: { itemsPerPage: 6, currentPage: actualPage}; let i = index">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w250_and_h141_face{{ tvshow.backdropPath }}"
        onerror = "this.src='./../../../assets/default-profile-pic.png'"
          alt="_blank" />
        <div highlight class="card-body" (click)="edit(tvshow)">
          <p class="card-title">{{ tvshow.title }}</p>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls change-color (pageChange)="actualPage = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>