<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand mr-md-2 mr-0" href="#" aria-label="NG Bootstrap">
      <img src="../assets/cinema.png" width="50" class="img-logo rounded-circle" alt="">
      Pitang Hub
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive] = "['active']">
        <a class="nav-link" [routerLink] = "['movies']">Movies <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['tvshows']">Tv Shows</a>
      </li>

        <li class="nav-item active"> 
            <a class="nav-link" [routerLink] = "['actors']">Actors</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink] = "['authors']">Authors</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink] = "['directors']">Directors</a>
        </li>
    </ul>
  </div>
</header>
&nbsp;
<body>
  <div class="container">
      <br><br><br><br>
    <router-outlet></router-outlet>
  </div>
</body>