<div class="col-12">
  <div class="card card-color">
      <div class="card-header">
        <h6 class="card-title header-color">FILTER BY:</h6>
        <div class="card-body">
                  <input type="text" class="form-control input-align" [(ngModel)]="titleSearch" 
                  placeholder="Search your movie by title...">
             
                  <input type="number" class="form-control input-align" [(ngModel)]="yearSearch"
                  placeholder="Search your movie by year ...">
             
                  <input type="text" class="form-control input-align" [(ngModel)]="languageSearch"
                  placeholder="Search your movie by language...">
                  <br>
                  <button type="button" class="btn btn-info btn-config" (click) = filter()>Search</button>
              
        </div>
      </div>
  </div>

  <br>
    
  <div class="card-columns">
    <div class="card bg-dark text-white" (click)="edit(movie)" *ngFor="let movie of movies | paginate: { itemsPerPage: 3, currentPage: actualPage}; let i = index">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w250_and_h141_face{{ movie.backdropPath }}"
        alt="_blank" />
      <div highlight class="card-body" (click)="edit(movie)">
        <p class="card-title">{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="actualPage = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>



